:root {
  --background-color-light: #ffffff;
  --background-color-dark: #333333;
  --text-color-light: #333333;
  --text-color-dark: #ffffff;
}

body {
  background-color: var(
    --background-color-light
  ); /* Use your preferred CSS variable here */
  color: var(--text-color-light); /* Use your preferred CSS variable here */
  transition: background-color 0.3s, color 0.3s;
  margin: 0; /* Remove default margin to cover the full width */
  padding: 0; /* Remove default padding */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
